.sec4introdiv {
  justify-content: center;
  text-align: center;
}
.sec4__introp {
  color: #aeafb0;
  /* width: 800px; */
  width: 100%;
  /* margin-top: 20px;
  margin-left: 200px; */
  font-size: 25px;
}
.sec4row {
  justify-content: space-between;
}
.sec4card__col {
  background-color: #35363a;
  border-radius: 20px;
  /* padding-left: 50px; */
  padding-left: 5%;
  width: 600px;
}
.sec4h5 {
  color: #fff;
  font-size: 2em;
}
.sec4p {
  color: #aeafb0;
  font-size: 25px;
  font-weight: 510;
}

.colum {
  background-color: #232426;
  width: 390px;
  /* width: 350px; */
  border-radius: 15px;
  margin-right: 1%;
}
.columhead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cheadinner {
  margin-left: 20px;
  flex: 1;
}
.avater1 {
  width: 50px;
  height: 50px;
}
.sec4cardp {
  color: #aeafb0;
  margin-top: -10px;
}
.twitlogo {
  object-fit: contain;
  /* width: 30px;
    margin-top: -30px; */
}
.columbodyp {
  color: #aeafb0;
}
.lastintro {
  margin-top: 200px;
}
.browsericons {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.browser_img {
  object-fit: contain;
  width: 100px;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.browser__btn {
  background-color: #35363a;
  border-radius: 30px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .sec4__introp {
    width: 250px;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 20px;
  }

.sec4card__col {
    border-radius: 20px;
    padding: 5%;
    /* width: 600px; */
    margin: 5%;
  }
  /* .sec4h5 {
    color: #fff;
    font-size: 30px;
    padding: 0px 15px;
  }
  .sec4p {
    color: #aeafb0;
    font-size: 20px;
    font-weight: 510;
    padding: 0px 15px;

  }
  .s4img{
    width: 90px;
    padding-left: 20px;
  }
  .twiit{
    margin: 1%;
  }
  .lasst{
    margin-top:20px;
  } */
  .browser_img {
    object-fit: contain;
    width: 50%;
    /* height: 80px; */
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .browser__btn {
    background-color: #35363a;
    border-radius: 30px;
    margin-bottom: 50px;
    font-size: 0.8em;
  }
  .browsericons{
    margin-right: 1%;
  }
} 